* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

header {
    margin-bottom: 10px;
}

header p {
    margin: 2px 0;
}

header a {
    font-size: 25px;
    padding: 5px 10px;
}

.container {
    width: 1200px;
    margin: 30px 0 0 100px;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
    min-width: 100px;
}